<div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="/home"><em class="fa fa-gears"></em> InciManager </a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"  sec:authorize="isAuthenticated()"><a class="nav-link" href="/incidences/list"> <em class="fa fa-list-ul"></em> Mis incidencias</a></li>
                    <li class="nav-item" role="presentation"  sec:authorize="isAuthenticated()"><a class="nav-link" href="/incidences/add"><em class="fa fa-plus-circle"></em> Enviar incidencia</a></li>
                    <li class="nav-item" role="presentation"  sec:authorize="isAuthenticated()"><a class="nav-link" href="/logout"><em class="icon ion-log-out"></em> Cerrar sesión</a></li>
                    <li class="nav-item" role="presentation"  sec:authorize="!isAuthenticated()"><a class="nav-link" href="/login"><em class="icon ion-log-in"></em> Iniciar sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>